@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './unreset.css';

@layer base {
  html {
    font-family: Inconsolata, system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}

@layer components {
  .text-gradient {
    background: linear-gradient(
      to right,
      rgba(48, 207, 208, 1),
      rgba(196, 58, 214, 1)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-glow {
    text-shadow: 0 0 80px rgb(192 219 255 / 75%), 0 0 32px rgb(65 120 255 / 24%);
  }

  .html-content {
    @apply text-lg md:text-xl;
  }

  /* 
  .html-content a {
    color: #3498db;
  } */

  .blog-title {
    @apply font-bold font-sans text-4xl;
  }

  .blog-container {
    @apply md:max-w-3xl lg:max-w-4xl mx-auto font-karla;
  }
}
